<section class="delivery-address card">
  <div class="card-body">
    <h2 class="card-title">Delivery Address</h2>
    <address class="delivery-info">
      <div class="address-main">Jl. Kpg Sutoyo</div>
      <div class="address-detail">
        Kpg. Sutoyo No. 620, Bilzen, Tanjungbalai.
      </div>
    </address>

    <div class="address-actions">
      <button type="button" class="btn btn-outline-secondary action-btn">
        <i class="ri-edit-line"></i>
        <span>Edit Address</span>
      </button>
      <button type="button" class="btn btn-outline-secondary action-btn">
        <i class="ri-file-list-line"></i>
        <span>Add Note</span>
      </button>
    </div>
    <hr />
  </div>
</section>