@import url("https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css");


.categories-content {
  padding: 0 24px;
  position: relative;
  top: -46px;
}

.categories-section {
  margin-bottom: 16px;
  .categories-scroll {
    overflow-x: auto; // để cuộn nếu quá dài
    scrollbar-width: none; // ẩn cuộn ở Firefox
    -ms-overflow-style: none; // ẩn cuộn ở IE/Edge

    &::-webkit-scrollbar {
      display: none; // ẩn cuộn ở bọn mới
    }
    gap: 1rem;
  }

  .category-btn {
    background: var(--bgc-category-btn);
    color: var(--btn-color);
    border-radius: 6px;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    white-space: nowrap;
    line-height: 1.5;
    transition: all 0.35s ease;

    &:hover {
      background-color: var(--hover-color-btn);
      color: var(--white-color);
      border-color: var(--hover-color-btn);
    }

    &.active {
      background-color: var(--hover-color-btn);
      color: var(--white-color);
      border-color: var(--hover-color-btn);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(var(--hover-color-btn), 0.25);
    }
  }
}

// Products Section
.products-section {
  article {
    margin-bottom: 24px;
  }
  .product-card {
    border: none;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.35s ease;
    overflow: hidden;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }

    .card-img-wrapper {
      overflow: hidden;
      padding: 8px;
      .product-image {
        height: 128px;
        object-fit: cover;
        object-position: top;
        transition: transform 0.35s ease;
        border-radius: 12px;
      }

      .rating-badge {
        top: 0.5rem;
        right: 0.5rem;
        padding: 0.25rem 0.5rem;
        display: flex;
        align-items: center;
        font-size: 0.75rem;

        .rating-text {
          margin-left: 0.5rem;
          font-weight: 600;
          color: var(--white-color);
          font-size: 0.5rem;
          line-height: 1.5;
        }
      }
    }

    .card-body {
      padding: 0px 8px 12px 8px;

      .product-name {
        font-size: 1rem;
        font-weight: 600;
        color: var(--product-name-color);
        margin-bottom: 0.25rem;
        line-height: 1.5;
      }

      .product-description {
        font-size: 0.75rem;
        color: var(--icon-color);
        margin-bottom: 0.5rem;
        font-weight: 400;
      }

      .product-price {
        color: var(--product-price-color);
        font-size: 1.125rem;
      }

      .add-btn {
        background-color: var(--button-color);
;
        color: var(--white-color);
        border: none;
        width: 32px;
        height: 32px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;

        i {
          font-size: 1.125rem;
        }

        &:hover {
          background-color: darken(#c17f59, 10%);
          transform: scale(1.05);
        }

        &:focus {
          box-shadow: 0 0 0 0.2rem rgba(var(--hover-color-btn), 0.25);
        }

        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
}
