:root {
    // cỡ chữ
    --font-family: 'Sora', sans-serif;

    // màu sắc
    --button-color: #C67C4E;
    --bottom-nav: #FFFFFF;
    --boder-nav: #e5e7eb;
    --background-main: #F9F9F9;
    --icon-color: #A2A2A2;
    --hover-icon-color: rgba(212, 114, 43, 0.1);
    --input-color: #2a2a2a;
    --hover-bgc: #333;
    --location-color: #D8D8D8;
    --bgc-category-btn: #EDEDED59;
    --btn-color: #313131;
    --white-color: #FFFFFF;
    --hover-color-btn: #C17F59;
    --product-name-color: #2A2A2A;
    --product-price-color: #050505;
}